@media screen and (min-width: 1200px) {
	.n9 {width:1160px;margin:auto;}
}

@media screen and (min-width: 1025px) {

	#sb_instagram .sbi_photo {background:transparent !important;}
	#sb_instagram .sbi_photo img {filter: gray;-webkit-filter: grayscale(1);filter: grayscale(1);display:block !important;}
	#sb_instagram .sbi_photo:hover img {-webkit-filter:none;filter:none;}

}

/* TABLET LANDSCAPE and ABOVE */

@media screen and (min-width: 1024px) and (max-width: 1199px)  {

	.n9 {width:960px;margin:auto;}

	body.impressum .the_authors figure.the_user {min-height:300px;}

}

@media screen and (max-width: 1023px) {
	input, textarea, button {-webkit-appearance:none;border-radius:0;}
}

/* TABLET PORTRAIT */

@media screen and (min-width: 768px) and (max-width: 1023px) {

	.n9 {width:740px;margin:auto;}
	.mainmenu li.menulogo a {width:90px;height:37px;}
	.mainmenu li a {font-size:12px;letter-spacing:-0.5px;padding:10px 0;}
	.submenu li a {padding:5px 0;font-size:12px;}
	body.impressum .the_authors figure.the_user {min-height:250px;}
	.facebook_comments_trigger #go_comment {width:40%;}
	.facebook_comments_trigger .trigger_title {width:60%;}
}

/* MOBILE */

@media screen and (max-width: 767px) {

	.n9 {width:100%;}

	/* GLOBALS */

	.mobileonly {display:block;} .img100.mobileonly {display:block;} .img100 .mobileonly {display:block;} .desktoponly {display:none;} .img100.desktoponly {display:none;} .img100 .desktoponly {display:none;}
	.fs48px {font-size:36px;} .fs67px {font-size:36px;}
	.btn, a.btn, button.btn, input[type="submit"] {padding:10px 25px;}
	.tamogatoi.box .btn, .tamogatoi.box a.btn, .tamogatoi.box button.btn, .tamogatoi.box input[type="submit"] {padding:20px;}

	/* HOME */

	main.home .shell {padding:0 10px;}
	#footer .shell {padding:0 10px;}

	/* HEADER */

	#header {padding:10px;border-bottom:2px solid #e6e8ea;z-index:9;}
	#mobile_logo, #menuopener, #support_link {display:inline-block;vertical-align:middle;}
	#mobile_logo, #mobile_right_side {width:50%;}
	#mobile_logo img {display:block;}
	#mobile_right_side {text-align:right;}
	#the_mobile_menu {top:55px;}
	#the_mobile_menu ul.socialmenu {display:inline-block;width:100%;border-bottom:2px solid #e6e8ea;padding:20px 10px;}
	#the_mobile_menu ul.socialmenu li {display:inline-block;width: 20%;vertical-align: middle;}
	.mainmenu_mobil.mainmenu li, .mainmenu_mobil .submenu {display:block;width:100%;text-align: left;}
	#the_mobile_menu ul.socialmenu li:first-child a {text-indent: -20000px;display:block;background:url(i/heart-red.svg) no-repeat;width:33px;height:30px;}
	#the_mobile_menu ul.socialmenu li a svg, #the_mobile_menu ul.socialmenu li i {display:none;}
	#the_mobile_menu ul.socialmenu li:nth-child(2) a {background:url(i/facebook-grey.svg) no-repeat;width:30px;height:30px;}
	#the_mobile_menu ul.socialmenu li:nth-child(3) a {background:url(i/instagram-grey.svg) no-repeat;width:30px;height:30px;}
	#the_mobile_menu ul.socialmenu li:nth-child(4) a {background:url(i/email-grey.svg) no-repeat;width:38px;height:30px;}
	#the_mobile_menu ul.socialmenu li:last-child a {background:url(i/search-grey.svg) no-repeat;width:30px;height:30px;}
	#the_mobile_menu ul.socialmenu li.twitter, #the_mobile_menu ul.socialmenu li.tumblr, #the_mobile_menu ul.socialmenu li.vimeo, #the_mobile_menu ul.socialmenu li.soundcloud {display:none;}

	.mainmenu_mobil.mainmenu li a {font-size:18px;display:block;}
	.mainmenu_mobil li.menulogo {display:none;}
	#the_mobile_menu ul.socialmenu li a {display:block;width:30px;height:27px;text-align:center;margin: auto;text-indent:-20000px;}
	.search_fields {width:100%;}

	ul.mobilmenu-first {width:100%;padding:25px 0 0 0;}
	ul.mobilmenu-first li {margin-bottom:25px;}
	ul.mobilmenu-first li:last-child {display:none;}
	ul.mobilmenu-first a {color:#ff2932;text-transform:none;font-weight:700;border-left:3px solid #ff2932;padding:0 0 0 20px;}
	ul.accmenu {border-bottom:2px solid #e6e8ea;}
	ul.accmenu a {color:#939393;font-weight:800;text-transform:uppercase;font-size: 22px;padding:30px 0 30px 20px;display:block;}
	ul.accmenu a:after {font:normal normal normal 22px/1 FontAwesome;display: inline-block;text-transform: none;text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
	ul.accmenu a:after {content:"\f0da";margin-left:15px;}
	ul.accmenu.active a:after {content:"\f0d7";}

	ul.downmenu {padding:40px 0 0 0;display:none;}
	ul.downmenu a {color:#4b4b4b;font-size:18px;text-transform:none;letter-spacing:1px;font-weight:700;border-left:3px solid #4b4b4b;padding:0 0 0 20px;display:block;}
	ul.downmenu li {margin-bottom: 25px;}


	/* TOP KEPPEL */

	.top_keppel {padding-bottom:30px;margin:30px 0;border-bottom:0;position:relative;}
	.top_keppel:after {content:"";background:#e6e8ea;width:30%;position:absolute;bottom:0;height: 3px;left:10px;}
	.top_keppel .the_category.cat_linkbox {font-size:14px;padding:5px 10px;}
	.top_keppel .n33, .top_keppel .n50, .top_keppel .n66 {width:100%;}
	.top_keppel img.pr30 {padding:0;}
	.top_keppel .the_title {padding:20px 0;}

	/* TOP KEP NELKUL */

	.top_kep_nelkul {padding-bottom:30px;margin:30px 0;border-bottom:0;}
	.top_kep_nelkul .the_category.cat_linkbox {font-size:14px;}
	.top_kep_nelkul {position:relative;}
	.top_kep_nelkul:after {content:"";background:#e6e8ea;width:30%;position:absolute;bottom:0;height: 3px;left:10px;}
	.top_kep_nelkul .the_title {padding:20px 0;font-size: 36px;}

	/* TOP KEPPEL FULLSCREEN */

	.top_keppel_fs {height:500px;}
	.top_keppel_fs {overflow:hidden;margin-bottom:30px;}
	.top_keppel_fs .mt100 {margin-top:30px;}
	.top_keppel_fs .the_category {font-size:14px;padding:5px 10px;}
	.top_keppel_fs .the_title {padding:15px 0;}
	.top_keppel_fs .the_featimage img {margin-left: -300px;min-height: 600px;width: auto;}

	/* AJANLO */

	.ajanlo {padding:20px 0;background-position:center;}
	.ajanlo .n50 {width:100%;text-align: center;margin-bottom: 10px;padding: 0 10px;}
	.ajanlo .the_content.fs32px {font-size:22px;margin-bottom: 200px;}

	/* VIDEO */

	.video {overflow: hidden;}
	.video .the_image {margin-bottom:80px;}
	.video .the_category {margin-bottom:30px;}
	.video .the_title a.fs24px {font-size:16px;font-weight:800;}
	.video .the_image img {width:100px;height:100px;}
	.video .the_title {width:100%;padding:0 40px;}
	.video .over_featimage .vam {position:absolute;top:auto;transform:none;padding:0;bottom:40px;}
	.video .the_featimage img {margin-left: -300px;min-height: 600px;width: auto;}

	/* TAMOGATOI */

	.tamogatoi.box {padding:0 0 30px 0;background-position: 0 bottom;background-size:160%;}
	.tamogatoi.box .shell {padding:0 10px;}
	.tamogatoi.box .n50.pl50 {width:100%;padding:0;text-align:center;}
	.tamogatoi.box .lead.fs32px {font-size:22px;margin-bottom:300px;}
	body.home section.section-tamogatoi {margin-top:40px;}
	body.home .tamogatoi.tamogatoi-hirlevel.box {margin-top:40px;}
	body.home .tamogatoi-hirlevel input[type="submit"] {letter-spacing:0;}
	.tamogatoi.box:before {left:0;} 

	/* TAMOGATOI HIRLEVEL */

	.tamogatoi.tamogatoi-hirlevel.box {margin-top:100px;}
	.tamogatoi-hirlevel .input_email {padding:15px;}

	/* CIKKEK 3 */

	.section-cikkek-3 article.n50 {width:100%;}
	.harmadik_3_cikk article {padding-bottom:10px;}
	.harmadik_3_cikk article.item-3 {padding-bottom:0;margin-bottom:0;}
	.harmadik_3_cikk article .inner {padding-right:0;}
	.harmadik_3_cikk article .inner h3 {font-size:17px;letter-spacing:0;margin-top:-3px;}
	.harmadik_3_cikk article.item-1 {border-bottom:0;}
	.harmadik_3_cikk article.item-1 .inner h3 {font-size:28px;letter-spacing:0;}
	.harmadik_3_cikk .the_category.fs20px {font-size:14px;margin-bottom:15px;}
	.harmadik_3_cikk .shell {border-left:3px solid #ff2932;}

	/* CIKKEK 4 */

	.section-cikkek-4 article.n25 {width:100%;}
	.masodik_4_cikk .inner {padding-right:0;}
	.masodik_4_cikk .inner a {margin-bottom:20px;}
	.masodik_4_cikk article {margin-bottom:40px;}
	.masodik_4_cikk .the_category {font-size:14px;}
	.masodik_4_cikk.pb80 {padding-bottom:0;}

	/* TOVABBI SZTORIK */

	.tovabbi_sztorik a.fs48px {font-size:28px;}
	.tovabbi_sztorik article {padding:30px 0;}
	.tovabbi_sztorik article .the_featimage img {padding:0;}
	.tovabbi_sztorik article:last-child {padding-bottom:0;}
	/*.tovabbi_sztorik article.item-1 {padding:0 0 30px 0;margin-bottom:0;}*/
	.tovabbi_sztorik .n100.blgrey {padding:30px 0 60px 0;}
	.tovabbi_sztorik article .the_featimage {margin-bottom:20px;}
	.tovabbi_sztorik article .the_featimage, .tovabbi_sztorik article .the_text {width:100%;}
	.tovabbi_sztorik article .the_category {font-size: 14px;margin-bottom:15px;}
	.tovabbi_sztorik article h3.mb40 {margin-bottom:20px;}
	.tovabbi_sztorik article .the_text {margin-bottom:0;}

	/* BLOGAJANLO */

	.blogajanlo article {width:100%;padding:20px 0;}
	.blogajanlo article:last-child {padding:0;}
	.blogajanlo .inner {padding:0;}
	.blogajanlo .shell.shell-2 {margin:40px 0;}
	.blogajanlo .the_category {background:none;padding:0;color:#ff2932;margin-bottom:15px;}
	.blogajanlo .the_category.kek {background-color:transparent;color:#009dcd;}
	.blogajanlo .the_category.kek:hover {background-color:transparent;color:#000;}

	/* INSTAGRAM */

	.instagram .n25 {width:100%;}
	.insta-feed {opacity:1;}
	.instagram a.peach {vertical-align:top;}
	.instagram a.peach img {display:none;}

	/* FOOTER */

	.footer.footer1 {display:none;}
	#footer {padding:0;}
	.footer.footer2 {margin:0;}
	ul.footermenu li:last-child {display:none;}

	/* CATEGORY */

	.archive .the_category_box {text-align:center;}
	body.archive .shell {padding:0 10px;}
	.the_category_box.intro {padding:30px 0 200px 0;}
	.the_category_box.intro.cat_image_false {padding:30px 0 0 0;    margin-bottom: 0;}
	.the_category_box .category-description.fs32px {font-size:22px;width:100%;}
	.the_category_box.no_cat_description .category-description {display:none;}
	body.archive .no_cat_description .cat_title {margin-bottom:0;line-height:100%;}
	body.archive .no_cat_description .cat_title a {margin-bottom:0;vertical-align: middle;}
	.the_category_box .shell {position:relative;}
	.tax_title {margin-bottom:15px;}
	.tax_title .the_category.cat_linkbox {font-size:14px;padding:5px 10px;vertical-align:top;}
	body.archive .the_category_box:before {background-size:110% !important;background-position:100px 200px !important;}
	body.archive .the_category {font-size:14px;margin-bottom:10px;}
	body.archive .cat_posts .the_title .fs48px {font-size:28px;}
	body.archive .cat_posts .the_title {margin-bottom:20px;}
	body.archive .cat_posts .the_excerpt.fs20px {font-size:18px;}
	body.archive .cat_posts .the_featimage, body.archive .cat_posts .the_text {width:100%;}
	body.archive .cat_posts .the_featimage img {padding:0;}
	body.archive .cat_posts article {padding:30px 0;}
	body.archive .cat_posts .the_text {margin-bottom:0;}
	div.pagin {padding: 0 10px;}

	/* SINGLE POST */

	main.single {overflow:hidden;}
	.single_post section.the_content {padding:0 10px;}
	.single_post section.the_content.first-section {padding:30px 10px 0 10px;}
	.single_post section.the_content.first-section iframe {max-width:100%;}
	.single_post .heading {padding: 0 10px;}
	.single_post .heading .the_category.cat_linkbox {font-size:14px;padding:5px 10px;margin-top:30px;}
	.single_post .heading .the_title {margin:10px 0;font-size:28px;}
	.single_post .the_content {padding-left:0;float:none;width:100%;display: block;}
	.single_post .tovabbi_sztorik_single article {width:100%;}
	.single_post .post_content img.size-full.fullwidth {width: 100%;left: 0;max-width: 100%;}
	.single_post .featured_box .feat_text {margin:auto auto 20px auto;font-size: 19px;line-height:160%;width:100%;padding-right:0;text-align:center;}
	.single_post .featured_box .inner a.btn {display:block;width:100%;}
	.single_post .the_content p {font-size:17px;}
	.single_post .the_content .quote_box blockquote {margin-bottom:20px;}
	.single_post .the_content span.highlight-section {font-size:27px;} 
	.single_post .the_content h4, .single_post .the_content h2, .single_post .post_content section.the_content.first-section ul:first-child li {font-size:17px;}
	.post_content .featured_box .inner {padding:15px 10px;margin:40px auto;}
	.mobileonly.share_box .share img {height:30px;width:30px;}
	.mobileonly.share_box .share .emailshare img {width:38px;}
	.facebook-share iframe {height:25px;}

	.single_post .the_content h5 {margin-bottom:30px;}
	.single_post .post_content .wp-caption, .single_post .post_content .quote_box {width:100% !important;}
	.single_post .the_content .wp-caption p.wp-caption-text, .single_post .the_content .quote_box .quote-caption {font-size:13px;position:static;left: auto;width: 100%;}
	.single_post .post_content img.size-full {margin-bottom:10px;}

	.single_post aside.n25 {width:100%;float:none;position:static;padding:0 10px;}
	.single_post aside .share h5 {display:none;}
	.single_post aside .author_box .text, .single_post aside .author_box img {display:none;}
	.single_post aside .author_box {border-bottom:0;margin-bottom:0;padding-bottom:15px;padding-top: 10px;}
	.single_post aside .the_post_date, .single_post aside .the_post_date_modified {display:inline-block;}
	.single_post aside .the_post_date_modified {margin-left:15px;}
	.single_post aside .post_date_box {padding-bottom:0;border-bottom:0;margin-bottom: 0;}
	.single_post aside .post_date_box .the_post_date {margin-bottom:20px;}
	.single_post aside .share {padding-bottom:15px;}
	.single_post aside div.social {display:none;}
	.single_post aside .related_posts_single {display:none;}

	.aboutblock {width:100%;position:static;}
	.single_post .the_content .aboutblock {margin-bottom:40px;}
	.single_post .the_content .aboutblock .n50 {width:100%;}
	.single_post .the_content .aboutblock .description h5 {margin-bottom:0;}
	.single_post .the_content .aboutblock .description {padding-bottom:25px;}
	.single_post .post_content .aboutblock p {font-size:13px;}
	
	.single_post .tamogatoi.box {margin-top:40px;text-align: center;}
	.single_post .tamogatoi.box .n50 {width:100%;}
	.tamogatoi.box.tamogatoibox_shortcode {background-size:contain;} 
	.tamogatoi.box.tamogatoibox_shortcode:before {left:0;} 

	.tovabbi_sztorik_single {padding-bottom: 30px;}
	.tovabbi_sztorik_single h4 {margin-bottom:20px;}
	.tovabbi_sztorik_single .shell {padding:0 10px;}

	.tovabbi_sztorik_single #tovabbi_sztorik_slider .inner.pr50 {padding:0;}
	.owl-dot {display:inline-block;padding:0 5px;}
	.owl-dot span {display:block;width:20px;height:20px;border-radius:20px;background:#DDD;margin:0 5px;}
	.owl-dot.active span {background:#ff2932;}
	.owl-dots {text-align:center;margin-top:40px;}
	.single_post .mc4wp-form-fields input {width:100%;}
	#the_tags {padding:40px 0;}
	.facebook_comments_trigger #go_comment {width:40%;}
	.facebook_comments_trigger .trigger_title {width:60%;}
	.tableauPlaceholder {max-width:100%;width: 100% !important;}

	/* SINGLE POST - IMAGE */

	body.single-format-image .featimage, body.single-format-video .featimage {margin-bottom:0;}

	/* SINGLE POST - VIDEO */

	.single_post.single-format-video aside .author_box {border-bottom:0;margin-bottom:0;padding-bottom:15px;padding-top: 10px;}
	.single_post.single-format-video aside .post_date_box {padding-bottom:0;border-bottom:0;margin-bottom: 0;}
	.single_post.single-format-video .videoWrapper {margin-bottom:10px;}
	.single_post.single-format-video .tamogatoi.box {padding-top: 40px;}

	/* SINGLE PAGE */

	main.page.single_post {overflow:hidden;}
	main.page.single_post section.the_content.text iframe {width:100%;}

	/* COMMENTS */

	#the_comments .inner {width:100%;padding:0 10px;}

	/* TAMOGATOI OLDAL */

	main.support {overflow:hidden;}
	main.support .post_title.fs48px {font-size:28px;padding:0;margin-bottom:30px;}
	main.support .the_intro {margin-top:30px;padding:0 10px;}
	main.support .the_intro img.love {margin-bottom:10px;}
	main.support aside.n25, main.support .the_excerpt {width:100%;}
	main.support .the_excerpt {font-size:17px;}
	main.support aside.n25 .inner {padding:0;}
	main.support aside.n25 .share h5 {display:none;}
	main.support .tamogatoi.in_content {margin-bottom:10px;}
	main.support .tamogatoi.in_content .tamogatoi.box {padding:0 10px;background-size:90%;background-position:center 70%;}
	main.support .tamogatoi.in_content a.btn {padding:20px 30px;margin-bottom:30px;margin-top: 20px;}
	main.support ul.tamogatoi_opciok li {width:100%;margin-bottom:30px;}
	main.support ul.tamogatoi_opciok li.cl {display:none;}
	main.support ul.tamogatoi_opciok li .kszoveg { /* display:none; */ }
	main.support ul.tamogatoi_opciok li h4 {margin:0;}
	.tamogatoi.lista .input_email {margin-top:20px;}
	main.support .the_content .n75 {width:100%;padding:0 10px;}
	body.support_page .the_content h2 {color:#FFF;font-size:17px;}
	body.support_page .the_content p {font-size:17px;}
	body.support_page .tamogatoi.box .lead.fs32px {margin-bottom:400px;}

	/* SEARCH RESULTS */

	.the_search_box .inner {padding:0 10px;}
	input.submit_again {padding:0;}
	.result_posts {padding:0 10px;}

	/* 404 */

	main.s404 {border:0 none;}
	main.s404 .shell {padding:0 10px;}
	main.s404 .n50 {text-align:center;width:100%;padding:0;}
	main.s404 .inner {background-position: center 200px;padding: 30px 0 400px 0;background-size:contain;}
	main.s404 .fs32px {font-size:22px;padding-bottom:0;}
	main.s404 a.btn {position: absolute;bottom: 20px;text-align: center;left: 0;right: 0;margin: 0 20%;}
	main.s404 a.btn img {display:none;}

	/* AUTHOR */

	body.author .author_title {margin-bottom:0;}
	body.author .cat_posts {margin-bottom:0;}
	.the_author_box {padding:10px 0 0 0;text-align:center;}
	.the_author_box .author_foot {display:none;}
	.the_author_box .author_email img {display:block;}

	/* IMPRESSZUM */

	body.impressum .the_authors figure.the_user {min-height:0;width:100%;float:none;padding:0 10px;margin-bottom: 20px;}
	body.impressum .the_authors figure.the_user a.author_url {display:block;}
	body.impressum .inner.fr {display:block;float:none;}
	body.impressum .usermeta {display: inline-block;float: none;width: 100%;}
	body.impressum .the_intro ol {width:100%;float:none;}
	body.impressum .the_intro .the_excerpt ol.left_side {padding-right:0;}
	body.impressum .the_content .inner p, body.impressum .the_content .inner blockquote, body.impressum .the_content .inner h3 {padding-left:0;}
	body.impressum .the_content .inner {padding:0 10px;}
	body.impressum .the_content pre {position:static;}
	body.impressum .the_content ul li:after {left:0;}

	/* 18 WARNING */

	#okm18 .n33 {width:100%;padding:0 20px;}


}

@media screen and (max-width: 480px) {

}

@media screen and (max-width: 800px) and (orientation:landscape) {

}

@media screen and (max-width: 360px) {

}


@media screen and (max-width: 320px) {

}
